<div class="order-container">
  <mat-card class="card-form">
    <h1>Select Yout Trip</h1>

    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input
          matInput
          placeholder="please enter first name"
          formControlName="customeFirstName"
        />
        <mat-error *ngIf="form.get('customeFirstName').hasError('required')">
          enter first name
        </mat-error>
      </mat-form-field>
      <br />
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>last name</mat-label>
        <input
          matInput
          placeholder="please enter last name"
          formControlName="customeLastName"
        />
        <mat-error *ngIf="form.get('customeLastName').hasError('required')">
          enter last name
        </mat-error>
      </mat-form-field>

      <br />
      <br />

      <mat-form-field color="accent">
        <mat-label>start your vication at</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="form.get('startDate').hasError('required')">
          enter valid date
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field color="accent">
        <mat-label>end your vication at</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="form.get('endDate').hasError('required')">
          enter valid date
        </mat-error>
      </mat-form-field>

      <div
        class="control"
        formArrayName="destinationsTarget"
        *ngFor="let control of destinationsTarget; let i = index"
      >
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Enter Your Target"
            [formControlName]="i"
          />
        </mat-form-field>
        <button type="button" mat-icon-button (click)="addTargetDestinations()">
          <mat-icon>add_circle_outline </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon
            class="remove-button"
            (click)="removeDestinationsTarget(i)"
            matSuffix
            >clear</mat-icon
          >
        </button>
      </div>

      <mat-form-field>
        <mat-select placeholder="Select.." [(ngModel)]="tripOption">
          <mat-option
            *ngFor="let option of getOptionReason()"
            [value]="option.id"
            >{{ option.reason }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-raised-button color="accent">
        Save
      </button>
    </form>
  </mat-card>
</div>
