.home-container {
  background-image: url("https://www.winterhaventravelagencies.com/images/686886_24.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}


.mat-card {
  width: 300px;
  font-family: 'Dancing Script' ;
  font-size: 15px;
  top: 40px;
  left: 30px;
}
